.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbotSection {
  width: 100vw;
  height: 100vh;
}

.chatbotContainer{
  position: fixed;
  /* max-width : 40%;
  max-height : 40%; */
  margin-left: 73vw;
  margin-top: 24.5vh;
  /* margin-bottom: 20%; */
  /* background-color: white; */
}

.react-chatbot-kit-chat-inner-container {
  height: 70vh;
}
.chatbotCloseBtn {
  position: absolute;
  top: 1.3vh;
  right: 1vw;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.chatbotInitiateBtn{
  position: fixed;
  left: 95vw;
  top: 90vh;
  border-radius: 50%;
  cursor: pointer;
}

.chatClosed {
  display: none;
}

.chatbotInitiateBtn img {
  width: 40px;
  height: 40px;
}


