.App {
  text-align: center;
  /* background-color: #282c34; */
  /* min-height: 100vh;
  min-width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#a_tag{
  text-decoration: none;
  color: black;
}
.chatbotSection {
  width: 100vw;
  height: 100vh;
}
input{
  border-radius: 10px;
  height: 38px;
}
.chatbotContainer {
  position: fixed;
  margin-left: 73%;
  margin-top: 12.5%;
  z-index: 1000;

}
.form input{
  border-radius: 13%;
  height: 30px;
  }
  .form button{
    font-family:'Kumar One', cursive; 
    color: aliceblue;
    background-color:#000000
  }
  .form{
    text-shadow: 4px 4px 3px rgb(0, 0, 0);
    box-shadow: 15px 15px 10px #000000;
    border-radius: 10%;
    margin-left: 40%;
    width: 250px;
    background-color: darkgrey;
    font-family:'Kumar One', cursive; 
    color: #ffffff;
     grid-area: main;
     padding: 50px;
  }

.react-chatbot-kit-chat-inner-container {
  height: 100%;
  z-index: 1000;

}
.chatbotCloseBtn {
  position: absolute;
  top: 1.3vh;
  right: 1vw;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.chatbotInitiateBtn{
  position: fixed;
  left: 93vw;
  top: 85vh;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
@import url('https://kit.fontawesome.com/a076d05399.js');


.chatClosed {
  display: none;
}

.chatbotInitiateBtn img {
  width: 40px;
  height: 40px;
}

.chatbotLinkBtns button a {
  text-decoration: none;
  color: black;
}

.App{
  display: grid;
  grid-template-areas: 
  'header header header header header'
  'main main main main main'
  'main main main main main'
  'main main main main main'
  'footer footer footer footer footer';
  width: 100vw;
  height: 100vh;
  grid-template-rows: 30% 30% 5%;
}
.container_card{
  display: flex;
  justify-content: space-evenly;
  width: 23%;
  margin-bottom: 20px;
}
.div{
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header{
  grid-area: header;
 border-bottom: 2px solid black;}
.footer{
  /* justify-content: center; */
  align-items: center;
  grid-area: footer; 
  border-top: 2px solid black;}
.nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.homePage{
  grid-area: main;
}
h1{
  grid-area: main;
}
li{
  list-style: none;
  text-decoration: none;
}
.user_details{
  grid-area: main;
  background: rgb(124, 123, 123);
  width: 30vw;
  height: 40vh;
  margin-left:35%;
  box-shadow: -5px -2px 12px 12px rgb(27, 25, 25) ;
  padding: 10px;
  border-radius: 10px;
  margin-bottom:20%;
  color:white;
  font-size: larger;
}
.nav img{
  width: 20px;
  height: 20px;
}
a{
  font-size: 15px;
}
#btn_send{
padding: 10px;
border-radius: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Devonshire&family=Estonia&family=Roboto:wght@100&display=swap');
.homeImage h1{
font-family: 'Bad Script', cursive;
font-family: 'Devonshire', cursive;
font-family: 'Estonia', cursive;
font-family: 'Roboto', sans-serif;
}
.homeImage{
  width: 90%;
}
footer {
  bottom: 0%;
  left: 0;
  bottom: 0;
  /* width: 100%; */
  /* height: 150px; */
  margin-top: 15%;
  text-align: center;
}
footer .socialMediaContact > a {
  font-size: 30px;
  width: 46px;
  height: 40px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgb(0, 0, 0);
  margin: 19px 11px;
  color: rgb(0, 0, 0);
  opacity: 0.75;
}

.footer .socialMediaContact > a:hover {
  opacity: 2;
}

#theNav {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  
}
